.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003049;
    padding: 20px;
    color: #f7f7f7;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  button {
    background-color: #f77f00;
    color: #f7f7f7;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #d62828;
  }
  